#DATABASE
DB_USER=postgres
DB_PASSWORD=DB_PASSWORD
DB_PORT=5432
DB_HOST=localhost
DB_NAME=pico

#JWT
JWT_SECRET_KEY=secret_key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MIN=30
REFRESH_TOKEN_EXPIRE_DAYS=3

#REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_DECODE_RESPONSES=True
REDIS_PASSWORD=